html, 
body {
  box-sizing: border-box;
  color: grey;
  font-family: 'Open-Sans', sans-serif;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 175px;
  grid-template-rows: repeat(12, 125px);
  min-height: 100%;
  width: 100%;
}

#side-nav {
  background-color: #354150;
  grid-row-end: all;
  grid-row-start: 1;
  width: 175px;
}

#user-container, 
#main, 
#admin {
  border-bottom: 2px solid rgba(35, 42, 51, .5);
  box-shadow: 0 2px 2px -2px rgba(35, 42, 51, .5); 
  padding-bottom: 10px;
}

.profile {
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  width: 100px;
}

#profile-text {
  color: #a3a3a3;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  margin-top: 15px;
}

.widget-header,
.widget-text {
  font-size: 12px;
  margin-left: 20px;
  margin-top: 25px;
}

.widget-text {
  color: #a3a3a3;
}

#rotate {
  transform: rotate(90deg)
}

#hover-widget:hover {
  background-color: #28303a;
  border-left: 3px solid #1CA4E9;
  color: #FFFFFF;
  cursor: pointer;
  padding-left: 15px;
}

.status-container {
  display: inline-flex;
  height: 50px;
  left: 40%;
  position: relative;
  top: -40px;
  width: 250px;
}

.status-text {
  color: grey;
  font-size: 16px;
  font-weight: 800;
  margin: 7px 7px;
  margin-left: 5px;
}

.listing-status{
  border-radius: 50px;
  border: 2px solid lightgrey;
  display: inline-block;
  height: 30px;
  width: 100px;
}

.listing-icon-container {
  border-radius: 20px;
  border: 2px solid lightgrey;
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  width: 30px;
}

.listing-icon {
  display: block;
  height: 20px;
  margin: 5px auto;
  width: 20px;
}

.listing-icon-container:hover,
.listing-status:hover {
  background: lightgrey;
  border: 2px solid lightgrey;
  cursor: pointer;
}

.login-circle {
  height: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

.location-subhead {
  display: inline-block;
  position: relative;
  top: -15px;
}

.status-text {
  display: inline-block;
}

.side-icon {
  height: 12px;
  margin-right: 5px;
  vertical-align: text-top;
}

#search-header {
  background-color: #FFFFFF;
  display: inline-flex;
  grid-column-end: all;
  grid-column-start: 2;
}

#search-input {
  border: 1px solid lightgrey;
  height: 71px;
  min-width: 500px;
  width: 100%;
}

.header-icon {
  height: 25px;
  vertical-align: middle;
}

#collapse-arrow {
  height: 15px;
  margin-right: -7px;
  transform: rotate(180deg);
}

.preview, 
.preview:visited, 
.preview:hover {
  color: #1CA4E9;
  text-decoration: none;
}

.nav-button {
  background: white;
  border: 1px solid lightgrey;
  height: 75px;
  min-width: 75px;
  padding: 0;
}

#menu {
  background-image: url("images/grid.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#menu:hover {
  background-color: #1CA4E9;
  background-image: url("images/grid-hover.svg");
  cursor: pointer;
}

#calendar {
  background-image: url("images/calendar.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#calendar:hover {
  background-color: #1CA4E9;
  background-image: url("images/calendar-hover.svg");
  cursor: pointer;
}

#user{
  background-image: url("images/user.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#user:hover {
  background-color: #1CA4E9;
  background-image: url("images/user-hover.svg");
  cursor: pointer;
}

.title, 
.location {
  margin-bottom: 5px;
  margin-left: 45px;
  margin-top: 0;
}

.location-icon {
  height: 12px;
  margin-bottom: 2.5px;
  margin-right: 0;
  vertical-align: middle;
}

.space {
  margin-left: 5px;
  margin-right: 5px;
}

.location, 
.preview  {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 0;
}

.state-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 45px;
  z-index: 10;
}

.state-select {
  font-size: 14px;
  font-weight: 800;
  margin-left: 20px;
  padding-bottom: 17px;
  text-align: center;
  width: 100px;
}

.active,
.state-select:hover {
  border-bottom: 3px solid #1CA4E9;
  color: black;
  cursor: pointer;
  z-index: 15;
}

#align {
  margin-left: -8px;
  z-index: 15;
}

.graph-container {
  background-color: #EDF2F6;
  grid-column-end: all;
  grid-column-start: 2;
  grid-row-end: 6;
  grid-row-start: 3;
  width: 100%;
}

.main-container {
  background-color: #EDF2F6;
  grid-column-end: all;
  grid-column-start: 2;
  grid-row-end: all;
  grid-row-start: 6;
}

.circle-container {
  display: inline-block;
  margin: 75px 0 0 45px;
  min-width: 580px;
  width: 55%;
}

.circle-base {
  border-radius: 50%;
  border: 9px solid lightgrey;
  display: inline-block;
  height: 150px;
  margin-right: 20px;
  width: 150px;
}


.circle-outline {
  border-radius: 50%;
  border: solid 9px #53BEBE;
  border-color: #53BEBE transparent #53BEBE #53BEBE;
  bottom: 9px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  position: relative;
  right: 9px;
  width: 150px;
  z-index: 5;
}

.two {
  border-color: transparent transparent #1CA4E9 #1CA4E9;
}

.three {
  border-color: transparent transparent #aa1d89 transparent;
}

.circle-header, 
.circle-subhead{
  height: 30px;
  margin: auto;
  margin-top: 45px;
  text-align: center;
  width: 68%;
}

.circle-subhead {
  margin-top: -30px;
}

.graph-wrapper {
  display: inline-block;
  height: 175px;
  width: 40%;
}

.graph {
  height: 175px;
}

.graph-caption,
.graph-caption-two {
  background-color: white;
  border-radius: 50px;
  border: 2px solid lightgrey;
  display: inline-block;
  height: 50px;
  margin: 40px 0 0 150px;
  text-align: center;
  width: 250px;
}

.graph-caption-two {
  margin-left: 115px;
  width: 175px;
}

.break-container {
  height: 50px;
}

.break {
  border-bottom: 2px solid lightgrey;
  margin-right: 50px;
  margin-top: 53px;
  position: absolute;
  width: 40%;
}

.right {
  left: 60%;
  margin-right: 0;
}

.drawer-arrow {
  left: 49%;
  position: relative;
  top: 43px;
  transform: rotate(270deg);
  z-index: 10;
}

.sub-content {
  border-bottom: 2px solid rgba(211, 211, 211, .5);
  box-shadow: 0 2px 2px -2px rgba(211, 211, 211, .5); 
  height: 67px;
}

.main-content {
  background-color: #FFFFFF;
  display: inline-block;
  height: 725px;
  margin: 60px 0 0 45px;
  min-width: 475px;
  position: absolute;
  width: 45%;
}

.dark-background {
  background-color: #7B8AA2;
  border-bottom: none;
}

#content-head {
  color: #FFFFFF;
  margin-top: 0;
  padding-top: 25px;
}

.centered {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 105px;
}

.description {
  height: 175px;
}

.content-text {
  color: #a3a3a3;
  display: inline-block;
  font-size: 12px;
  left: 15px;
  line-height: 125%;
  position: relative;
  top: 3px;
  width: 325px;
}

.big {
  top: 25px;
}

.social-article {
  border-bottom: 2px solid rgba(211, 211, 211, .5);
  box-shadow: 0 2px 2px -2px rgba(211, 211, 211, .5);
  padding-bottom: 29.5px;
}

.description-text {
  top: -64px;
}

.social-aside {
  display: inline-block;
  left: 62.5%;
  position: relative;
  top: 60px;
  width: 32.5%;
}

.social-button {
  border-radius: 3px;
  border: none;
  color: white;
  display: block;
  height: 60px;
  margin-bottom: 20px;
  min-width: 330px;
  width: 100%;
}

.social-button:hover {
  cursor: pointer;
}

.social-icon {
  height: 20px;
  position: relative;
  right: 75px;
  top: 3px;
}

.social-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 20px auto;
  position: relative;
  right: 10px;
  width: 125px;
}

#facebook {
  background: #4469AF;
}

#twitter {
  background: #2AA3EF;
}

#linkedin {
  background: #1074AE;
}

.social-article-head {
  font-size: 16px;
  margin-top: 29.5px;
}

.social-article-body {
  font-size: 12px;
  line-height: 135%;
  min-width: 337px;
  width: 100%;
}

.social-article-input {
  border: none;
  display: inline-block;
  height: 40px;
  text-indent: 10px;
  width: 80%;
}

.copy {
  background: #53BEBE;
  border: none;
  color: white;
  display: inline-block;
  height: 42px;
  margin-left: -4px;
  padding: 0;
  width: 19%;
}

.no-border {
  border: none;
  box-shadow: none;
  padding-bottom: 25px;
}

.wide {
  width: 99.5%;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    grid-template-rows: repeat(13, 125px);
  }

  .status-container {
    left: 28%;
  }

  #side-nav {
    min-width: 175px;
    width: 100%;
  }

  .graph-container {
    grid-row-end: 7;
    min-width: 100%;
    z-index: 10;
  }

  .main-container {
    grid-row-start: 7;
    width: 100%;
  }

  .circle-container,
  .graph-wrapper {
    display: block;
    margin: 20px auto;
    width: 580px;
  }

  .graph-caption, 
  .graph-caption-two {
    display: block;
    margin: 15px auto;
  }

  .graph {
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 1050px) {

  #search-header {
    height: 50px;
  } 

  #search-input {
    min-width: 200px;
  } 

  .page-header {
    position: relative;
    z-index: 10;
  }

  .state-select {
    font-size: 12px;
    position: relative;
    top: 0;
    width: 80px;
  }
  
  .social-aside {
    display: block;
    margin: auto;
    position: static;
    width: 475px;
  }

  .main-content {
    display: block;
    margin: 30px auto;
    position: static;
  }
}

@media screen and (max-width: 900px) {
  .state-select {
    display: none;
  }

  .state-nav {
    margin: 30px 0;
  }

  #align {
    display: block;
    font-size: 14px;
    margin: auto;
  }

  .page-header {
    top: -25px;
  }

  .title,
  .location-subhead {
    display: block;
    margin: 15px auto;
    text-align: center;
    width: 320px;
  }

  .status-container {
    justify-content: center;
    left: 29%;
    margin-top: 15px;

  }

  .circle-container {
    padding-left: 22px;
  }

  .location {
    margin-left: 0;
  }
}

@media screen and (max-width: 750px) {
  #side-nav {
    display: none;
  }

  #search-header,
  .page-header,
  .graph-container,
  .main-container {
    grid-column-start: 1;
    grid-column-end: all;
  }

  .page-header {
    width: 100%;
  }

   .title,
  .location-subhead {
    display: block;
    text-align: center;
    width: 320px;
  }
}

@media screen and (min-width: 1500px) {

  .graph-caption,
  .graph-caption-two {
    display: block;
  }